<ion-view title="DO YOU TRUST GOD" id="page1">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="dOYOUTRUSTGOD-card21">
      <ion-item class="item-avatar" id="dOYOUTRUSTGOD-list-item3">
        <img src="img/KgQO1LddQvOeMldNe8kv_cross.jpg">
        <h2>God: Do you trust me?</h2>
      </ion-item>
      <button id="dOYOUTRUSTGOD-button4" class="button button-positive button-block">Yes</button>
      <div class="item item-body" id="dOYOUTRUSTGOD-list-item-container3">
        <div id="dOYOUTRUSTGOD-markdown4" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#055D21;font-size:18px;">Then everything will be ok :)</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>